# Temporal requirements
nest_asyncio

# Torch and related (ensure you install with correct CUDA if needed)
--extra-index-url https://download.pytorch.org/whl/cu121
torch>=2.3.1+cu121
torchvision>=0.18.10+cu121
torchaudio>=2.3.1+cu121

# Core packages
yt-dlp
gradio==4.19.2
gradio_client==0.10.1
pydub==0.25.1
edge_tts==6.1.7
deep_translator==1.11.4
gTTS
gdown
rarfile
IPython
transformers
accelerate
optimum
sentencepiece
srt
onnxruntime-gpu
PyPDF2
python-docx

# Alternative pip versions or specific installs
pypdf==4.2.0
openai==1.14.3
tiktoken==0.6.0
ctranslate2<=4.4.0
fastapi==0.115.2

# Audio/Speech processing
praat-parselmouth>=0.4.3
pyworld==0.3.2
faiss-cpu==1.7.3
torchcrepe==0.0.20
ffmpeg-python>=0.2.0

# Git repositories
#git+https://github.com/m-bain/whisperX.git@a5dca2c
#git+https://github.com/facebookresearch/fairseq.git@refs/pull/5359/merge
#git+https://github.com/R3gm/openvoice_package.git@lite
# Optionally install: git+https://github.com/omry/omegaconf.git@refs/pull/1137/merge
